*{
    margin: 0;
    padding: 0;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*------------------------------------------top navigation bar*/
.topvar{
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 10;
}
.logo {
    margin-left: 50px;
    margin-bottom: 2px;
}

.logo img{
    width: 200px;
    height: auto;
}

.btn-top {
    display: flex;
    width: 100%;
    background-color: #105D63;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-top a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

.btn-top:hover {
    background-color: #1a858d;
}

.top-right {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 100px;
}

.right-btn{
    display: flex;
    flex-direction: row;
}

.right-btn button{
    margin-left: 10px;
    width: 90px;
}
.name{
    color: #292524;
    text-align: left;
}

.name a{
    color: #292524;
}

.profile img{
    width: auto;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 1;
}


/*-----------------------------------------------side nav*/
.navbar {
    height: 100vh;
    width: 250px;
    background-color: #ffffff;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    z-index:  1;
}

.sidebar-frame {
    display: flex;
    /*margin-left: 10px;*/
    flex-direction: column;
    justify-content: space-between;
    /*margin-top: 30%;*/
    margin: 30% 20px 10px 20px;
}

.side-content {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

/*space of icon and text*/
.side-content li a i {
    margin-right: 10px;
}

.lower-content {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #444;
}

.lower-content button i {
    margin-right: 10px;
}


.side-content li {
    margin: 15px 0;
}

.side-content li a {
    text-decoration: none;
    color: #595959;
    font-weight: 700;
    padding: 15px;
    display: block;
    border-radius: 10px;
    width: 80%;
    transition: background 0.5s;
}

.side-content li a:hover {
    background-color: #105D63;
    color: white;
}

.btn {
    display: flex;
    width: 100%;
    background-color: #105D63;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

.btn:hover {
    background-color: #1a858d;
}


.sidebar-frame h4 {
    margin-top: 40px;
    font-size: 16px;
}

.sidebar-frame h4 a {
    text-decoration: none;
    color: #ccc;
    font-weight: 400;
    transition: color 0.3s;
}

.sidebar-frame h4 a:hover {
    color: #334e5b;
}

/*------------------------------------------modal*/
/* The Modal (background) */

#myBtn{
    display: flex;
    width: 100%;
    background-color: #105D63;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

#myBtn:hover {
    background-color: #1a858d;

}
.message-form input {
    width: 100px;
}

.message-form .btn a i {
    margin-right: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}


.modal-msg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-msg-content {
    color: #1f4c4b;
    background-color: #ffffff;
    margin-top: 10%;
    margin-left: 45%;
    padding: 50px;
    border: 1px solid #1f4c4b;
    width: 45%;
    height: 60%;
    border-radius: 20px;
    overflow: auto;
}

/* Modal Content/Box */
.modal-content {
    color: #1f4c4b;
    background-color: #fefefe;
    margin:100px 200px; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 80%;
    border-radius: 20px;
    overflow: auto;
}

.message-form .send {
    color: white;
    height: 50px;
    background-color: #1f4c4b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.message-form .attach {
    width: 30%;
    height: 30px;
    background-color: #1f4c4b;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

.result {
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    width: 170px;
    padding: 10px;
    margin-top: 35px;
    margin-left: 30px;
    z-index: 900;
    display: none;
}

.send a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

.send i {
    margin-right: 10px;
}

.send:hover {
    background-color: #1a858d;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*------------------------------------------------freelancer  modal content*/

.message {
    padding: 5px 10px 10px 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    overflow: auto;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}


.receiver-details .msg-profile img {
    width: auto;
    height: 30px;
}

form {
    max-width: 600px;
    padding: 1rem;
}

textarea {
    width: 100%;
    padding: 1rem;
    height: 300px;
    font-size: 1rem;
    resize: none;
    box-sizing: border-box;
}

.message-form label{
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: #676767;
    margin: 10px 0 5px 0;
}

.type textarea {
    margin: 0 0 20px 0;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #4a8c8a;
}


.message-form input[type=text] {
    width: 40%;
    padding-left: 20px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #4a8c8a;
    margin-bottom: 10px;
}

.info .send {
    color: white;
    height: 50px;
    background-color: #1f4c4b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.info .attach {
    width: 30%;
    height: 30px;
    background-color: #1f4c4b;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

.send a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

.send i {
    margin-right: 10px;
}

.send:hover {
    background-color: #1a858d;
}


/*-------------------------------------------------------------floating message window*/
.float-message {
    position: fixed;
    top: 90%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #f8f8f8;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    transition: transform 0.2s ease;
    border-color: black;
    color: #444444;
}

.float-message:hover {
    transform: translate(-50%, -50%) scale(1.50);
    color: white;
    background-color: #1f4c4b;
}



@media (max-width: 768px) {
    .navbar {
        width: 70px;
        padding: 20px 10px;
    }

    .side-content li a {
        font-size: 0;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-content li a i {
        margin-right: 0;
        font-size: 18px;
    }

    .sidebar-frame h4,
    .sidebar-frame h4 a {
        display: none;
    }

    .lower-content {
        display: none;
    }
}








